<button class="trigger" (click)="showModal = true">Click here to trigger the modal!</button>
<div class="modal" [class]="{'show-modal': showModal}">
    <div class="modal-content">
    <!-- this is first part of modal -->
    <div class="modal_part1">
    <img src="assets/images/logo.svg" alt="join_logo">
    <p class="font_add_contact">Add contact</p>
    <p class="font-subheading">Tasks are better with a team!</p>
    <span></span>
    </div>
    <!-- this is second part of modal -->
    <div>
     <button class="modal-content-close-button" (click)="showModal = false"><img src="assets/icons/close-dialog.svg" alt="close_dialog_logo"></button>
        <form [formGroup]="contactForm" (ngSubmit)="formSubmit()">
            <div>
                <input placeholder="Name" type="text" formControlName="name">
                <img class="input_logo" src="assets/icons/person.svg" alt="person_logo">
                @if (contactForm.controls['name'].touched || contactForm.controls['name'].dirty) {
                    @if (contactForm.controls['name'].errors?.['required']) {
                    <p class="error">This field is required</p>
                    }
                }

            </div>
            <div>
                <input placeholder="Email" type="email" formControlName="email">
                <img  class="input_logo2"  src="assets/icons/mail (1).svg" alt="email_logo">
                @if (contactForm.controls['email'].touched || contactForm.controls['email'].dirty) {
                @if (contactForm.controls['email'].errors?.['required']) {
                <p class="error">This field is required</p>
                }
                @else if (contactForm.controls['email'].errors?.['pattern']) {
                <p class="error">Check your email and try again</p>
                }
                }
            </div>
            <div>
                <input placeholder="Phone" type="tel" formControlName="phone">
                <img  class="input_logo3"  src="assets/icons/call.svg" alt="phone_logo">
                @if (contactForm.controls['phone'].touched || contactForm.controls['phone'].dirty){
                @if (contactForm.controls['phone'].errors?.['required']) {
                <p class="error">This field is required</p>
                }
                @else if (contactForm.controls['phone'].errors?.['pattern']) {
                <p class="error">Check your Phone number and try again</p>
                }
                }

            </div>
            <div class="form-button">
             <button class="cancel_btn" type="reset">Cancel <img src="assets/icons/iconoir_cancel.svg" alt="cancel_logo"></button>
            <button class="submit_btn" type="submit" [disabled]="contactForm.invalid">Create contact <img src="assets/icons/check.svg"
                    alt="cancel_logo"></button>
            </div>
           
        </form>
    </div>
       
    </div>
</div>