@use '../../../../public/assets/scss/all-styles';

// Dashboard-Layout: Sidebar links (volle Höhe), Header oben rechts, Main-Content darunter
:host {
    display: grid;
    grid-template-columns: 232px 1fr;
    grid-template-rows: 96px 1fr;
    height: 100dvh;
}

.dashboard-aside {
    grid-row: 1 / 3; // Grid-Start bei Zeile 1, Grid-Ende bei Zeile 3
}

.dashboard-main {
    overflow-y: auto; // nur Main scrollt, wenn der Platz benötigt wird, Sidbar + Header bleiben stehen
    background-color: all-styles.$dashboard-background; // Platzhalter - vor Abgabe löschen
}

@media (max-width: all-styles.$breakpoint-mobile) {
    :host {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 80px;
    }

    .dashboard-aside {
        grid-row: 3;
    }
}
