<section class="contact-details">
  <section class="contact">
    <img src="assets/icons/name_logo_dummy.png" alt="Name Logo" />

    <div class="contact-name">
      <h2>Tatjana Wolf</h2>
      <div class="contact-btn">
        <button class="edit-btn">
          <img src="assets/icons/edit-btn.png" alt="Edit Button" />
          <p>Edit</p>
        </button>

        <button class="delete-btn">
          <img src="assets/icons/delete-btn.png" alt="Delete Button" />
          <p>Delete</p>
        </button>
      </div>
    </div>
  </section>

  <section class="contact-info">
    <h3>Contact Information</h3>

    <h4>Email</h4>
    <p class="email">Test@test.de</p>

    <h4>Phone</h4>
    <p>+49 0000 000 00 0</p>
  </section>
</section>
