@use '../../../../public/assets/scss/all-styles';

.dashboard-header {
  @include all-styles.flex-center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 96px;

  .mobile-view-logo {
    display: none;
  }
  p {
    font-size: 1.25rem;
    font-weight: 400;
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  &-icons {
    @include all-styles.flex-center;
    justify-content: space-between;
    gap: 16px;
    cursor: pointer;
    &-help-logo {
      transition: transform 0.5s;
    }
    &-help-logo:hover {
      transform: scale(1.2);
    }
  }
}

@media (max-width: 1024px) {
  .dashboard-header {
    padding: 20px 16px;
    .mobile-view-logo {
      display: block;
    }
    &-icons-help-logo{
         display: none;
    }
    p {
      display: none;
    }
    &-icons {
      .profile {
        width: 40px;
        height: 40px;
      }
    }
  }
}
