<div class="contact-list">
  <button class="add-contact">
    Add new contact
    <img src="assets/icons/person_add.svg" />
  </button>

  <div class="contact-group-wrapper">
    <div class="contact-group">
      <h3 class="contact-group-letter">A</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>

    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>

    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>

    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>

    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>

    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
    <div class="contact-group">
      <h3 class="contact-group-letter">B</h3>
      <ul class="contact-group-items">
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">BK</span>
            <span class="contact-info">
              <span class="contact-name">Bnton Kayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
        <li>
          <button class="contact-item" type="button">
            <span class="contact-avatar">AM</span>
            <span class="contact-info">
              <span class="contact-name">Anton Mayer</span>
              <span class="contact-email">antonm@gmail.com</span>
            </span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
